.titleArea{
    text-align: center;
}

#currentMoney{
    flex:1;
    text-align: center;
}

.slotArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#slotMachine{

    padding: 300px;
    border: 1px solid black;
}

#leverPuller{
    padding: 100px;
    border: 1px solid black;
}