.titleArea{
    text-align: center;
}

#currentMoney{
    flex:1;
    text-align: center;
}

.slotArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#slotMachine{
    background: url('SlotMachineBarrel.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 1867px;
    height: 1008px;
    display: flex;
    padding-left: 98px;
    padding-top: 220px;
}

.slotRow{
    display: hidden;
    overflow:hidden;
    height:220px;
    padding-bottom: 100px;

  }
  
  figure{
    width: 230px;
    display:table;
    animation:imageSlide .8s infinite;
    position:relative;
    padding:0;

  }
  
  figure img{

    width:150px;
    display:block;
    padding:0;
    margin: 20;
  }
  
  @keyframes imageSlide {
      0% {
          top:0%
      }
      12.5% {
          top:-100%
      }
      25% {
          top:-200%
      }
      37.5% {
          top:-300%
      }
      50%{
          top: -400%
      }
      62.5% {
          top: -500%
      }
      75% {
          top: -600%
      }
      87.5% {
          top: -700%
      }
      100% {
          top: 0%
      }
  }
  
  .newImageArea{
    width: 163px;
    display:block;
    margin: 25px;
  }